<div class="header">
	<h2>Front-end tutorials</h2>
</div>

<div class="container">
	<ul>
		<h3>JavaScript</h3><hr>
		<li><%= link_to "JavaScript todo app", todo_path %></li>
		<br><h3>jQuery</h3><hr>


		<li><%= link_to "Jquery text editor ", jqueryeditor_path %></li>
		<li><%= link_to "Jquery drawing app ", jquerydrawing_path %></li>
		<li><%= link_to "5. Password form", jquerypasswordform_path %></li>
		<li><%= link_to "4. Dropdown", jquerydropdown_path %></li>
		<li><%= link_to "lightbox", jquerylightbox_path %></li>
		<li><%= link_to "Spoiler revealer", jqueryspoiler_path %></li>
		<li><%= link_to "JQuery intro", jqueryintro_path %></li>

		<br><h3>CSS</h3><hr>
		<li><%= link_to "display modes", displaymodes_path %></li>
		<li><%= link_to "float layout" , floatlayout_path %></li>
		<li><%= link_to "positioning schemes" , positioningschemes_path %></li>
		<li><%= link_to "flexbox" , flexbox_path %></li>
		<li><%= link_to "grid" , grid_path %></li>
		<li><%= link_to "layout + nav", layoutnav_path %></li>
		<li><%= link_to "responsive nav 1", layoutnav2_path %></li>
		<li><%= link_to "responsive nav 2", responsivenav_path %></li>
		<li><%= link_to "responsive nav 3", responsivenav3_path %></li>
		<li><%= link_to "responsive nav 4", responsivenav4_path %></li>

	</ul>
</div>

